body {
    background-color: rgb(0, 0, 0);
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Fuggles', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Young Serif', serif;
}

/* ESTILO DEL HEADER-MENU*/
header {
    background-image: url(../imagenes/alcoholic-beverage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.menu {
    justify-content: space-around;
    display: flex;
    justify-content: space-between;

}
.menu-logo img {
    width: 300px;
    height: 70px;
    opacity: 1;
}
.menu-links {
    margin: 10px;
    padding: 0px;
    display: flex;
}
.menu-links .nav-link {
    max-height: 20px;
    padding: 10px;
    background-color: rgb(10, 10, 9, 1);
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(10, 10, 10);
    margin: 5px;
    border-radius: 5px;
    color: white;
}
.nav-link:hover {
    background-color: rgb (10,10,10);
    box-shadow: 0px 3px 10px 5px white;
    border: 1px solid wheat;
    font-weight: bolder;
}
.nav-link:visited {
    color: wheat;
} 
.nav-link:active {
    background-color: rgb(10, 10, 10, 0.8);
}
h2:hover {
    color: #F8C471 ;
}
p::selection {
    background-color: rgb(39, 36, 34);
} 

/* ESTILO DEL FOOTER*/
footer {
    color: white;
    text-align: center;

}
footer img {
    width: 30px;
}

/* ESTILO DEL SLIDER-CARUSEL AUTOMATICO*/
div.carusel {
    padding: 5px;
    margin: 50px auto ;
    background-color: rgba(23, 22, 22, 0.3);
    display: flex; 
    justify-content: center;
}
#naranja2 {
    width: 50%;
    min-height: 500px;
    background-color: rgb(5, 5, 5); 
    animation-name: carrousel;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    background-size: cover;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
 
}
@keyframes carrousel {
    0% {
        background-image: url(../imagenes/fondos/fondojacksdaniel.jpg);
    }
    20% {
        background-image: url(../imagenes/fondos/fondoregional5grados.png);
    }
    40% {
        background-image: url(../imagenes/fondos/fondochivasregal.jpg);
    }
    60% {
        background-image: url(../imagenes/fondos/fondoronvarios.jpg);
    }
    80% {
        background-image: url(../imagenes/fondos/fondolicoresvarios.jpeg);
    }
    100% {
        background-image: url(../imagenes/fondos/fondocervezaspolar.jpg);
    }
}
/* ESTILO DEL SLIDER-CARUSEL AUTOMATICO TERMINA AQUI*/

/* ESTILO DEL BANNER*/
.banner{
    padding: 1px;
    width: 100%;
    display: flex;
}
.banner img{
    width: 100%;
}

/* ESTILO DEL SLIDER MANUAL*/
.container {
    margin: auto;
    background-color: rgb(5, 5, 5);
    width: 800px;
    padding: 10px;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.slider {
    position: relative;
    width: 800px;
    height: 300px;

}
ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: rgb(8, 8, 6);
    transition: opacity .5s;
}
ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
ul.slider li:first-child {
    opacity: 1;
}
ul.slider li:target {
    opacity: 1;
}
.menu-slider {
    text-align: center;
    margin: 20px;
}
.menu-slider li {
    display: inline-block;
    text-align: center;
}
.menu-slider li a {
    display: inline-block;
    color: rgb(251, 250, 250);
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
/* ESTILO DEL SLIDER MANUAL TERMINA AQUI*/

/* ESTILO DE LAS CARDS SOBRE EL FOOTER*/
.productos-destacados {
    height: 380px;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    padding: 5px;
    background-color: rgb(23, 22, 22, 0.3);
}
div.gallery {
    margin: 7px;
    border: 2px solid rgb(255, 255, 255);
    width: 15%;
    padding: 0px;
}
div.gallery:hover {
    border: 2px solid #f4a52e;
    animation: pulse-orange-outside 2s ;
}
@keyframes pulse-orange-outside {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgb(255, 121, 63, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}
div.gallery img {
    width: 100%;
    height: 300px;
}
div.nombreproducto {
    padding: 15px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    color: white;
}
/* ESTILO DE LAS CARDS SOBRE EL FOOTER TERMINA AQUI*/

/* ESTILO DEL WHATSAPP ICONO*/
#tel {
     width: 60px;
}
.whatsapp {
    background: rgba(51, 217, 178, 0.3);
    border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
	animation: pulse-green 2s infinite;
	width: 50px;
	height: 50px;
	align-items: center;
    display: flex;
    justify-content: center;
    position: fixed; 
    bottom: 100px;
    right: 100px; 
}
@keyframes pulse-green {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(51, 217, 178, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
	}
}
.whatsapp:hover {
    background: rgba(255, 121, 63, 1);
	animation: pulse-orange 2s infinite;
}
@keyframes pulse-orange {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgb(255, 121, 63, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
	}
}
/* ESTILO DEL WHATSAPP ICONO TERMINA AQUI*/

/* ESTILO DEL FORMULARIO DE REGISTRO*/
.division-formulario {
    background-color: rgba(23, 22, 22, 0.3);
    height: 700px;
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
}
.imagen-formulario {
    text-align: end;
    width: 40%;
    height: fit-content;
}
.imagen-formulario img {
    width: auto;
    height: 700px;
}
input:hover {
    background-color: #D6EAF8 ;
}
input:focus {
    background-color: #FCF3CF  ;
}
/* ESTILO DEL FORMULARIO DE REGISTRO TERMINA AQUI*/

/*ESTILO DE PAGINA QUIENES SOMOS*/
.quienessomos{
    text-align: justify;
    background-color:  rgba(23, 22, 22, 0.3);
    /* height: 700px; */
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
}
section{
    width: 70%;
    padding: 20px;
}
section h2{
    text-align: center;
}

/*ESTILO DE PAGINA PRODUCTOS*/
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
.card{
    width: 15%;
    min-width: 300px;
    border: 2px solid red;
    border-radius: 30px  0px 30px 0px;
    text-align: center;
    padding: 10px;
    background-color: rgba(173, 0, 0, 0.573);
    box-shadow: 0px 3px 10px 5px rgba(173, 0, 0, 1);
    font-weight: bolder;
    margin: 20px;
    display: flex;
}
.card img{
    width: 150px;
}
div.card:hover {
    border: 5px solid #f4a52e;
}
@keyframes pulse-red-outside {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgb(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}
.boton-producto{
    background-color: rgb(0, 106, 245);
    color: rgb(221, 221, 221);
    border:  2px solid rgb(55, 0, 255); ;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    font-weight: normal;



}
/* .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
} */
#contenedorP{
    /*height: 1200px;*/
    display: flex;
    flex-direction: row;   /* column , row-reverse,  col-reverse*/
    flex-wrap: wrap;  /* nowrap wrap wrap-reverse*/
    justify-content: space-around ; /* center flex-start flex-end space-between (entre) space-around (alrededor)*/
    align-content: space-around;  /* center flex-end flex-start space-around space-between*/
}
